1 ICON "turnbinds.ico"
1 VERSIONINFO
FILEVERSION 2,1,0,0
PRODUCTVERSION 2,1,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileDescription", "Turnbinds (+left/+right)"
            VALUE "FileVersion", "2.1.0"
            VALUE "InternalName", "turnbinds"
            VALUE "LegalCopyright", "https://github.com/t5mat/turnbinds"
            VALUE "OriginalFilename", "turnbinds.exe"
            VALUE "ProductName", "turnbinds"
            VALUE "ProductVersion", "2.1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
